In [2]:
#Removing Space from string
name_1='ram '
print(name_1)

ram

In [3]:
name_2=" anil"
print(name_2)

 anil

In [4]:
name_2.lstrip()

'anil'

In [5]:
name_3=' mohan '
print(name_3)

 mohan

In [6]:
name_3.strip()

'mohan'

In [7]:
#String whitespace
print("\ncities:\nPune\nMumbai\ndelhi")

cities:
Pune
Mumbai
delhi

In [8]:
print("\n\tcities:\n\tPune\n\tMumbai\n\tdelhi")

	cities:
	Pune
	Mumbai
	delhi

In [9]:
3+2

5

In [10]:
3*6

18

In [11]:
6/0

ZeroDivisionError: division by zero

In [12]:
6/5

1.2

In [14]:
x=1.2
type(x)

float

In [16]:
a='shahrukh'
type(a)

str

In [17]:
4**4

256